<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous">

<div class="container" text-center>
  <!-- Content here -->


<p><h1>This app is a pasword generator</h1></p>
<br>
<p>Deze app is gemaakt door the one and only....<h1>Harold de Jong</h1></p>
<p>Dit is modification 1 van de repo in about</p>
<p>Dit is modification 2 van de repo in about</p>
<p>Dit is modification 3 van de repo in about via Pycharm</p>

<a href="{% url 'home' %}" class="btn btn-warning">Home</a>

</div>

</body>
</html>